<tr>
    <td> Code </td>
    <td> Name </td>
    <td> Credit </td>
    <td> Department </td>
    <td>
        <a href="/edit" class="btn border-shadow update"><span class="text-gradient"><i class="fas fa-pencil text-info"></i></span></a> 
        <a class="btn border-shadow delete"><span class="text-gradient"><i class="fas fa-trash text-danger"></i></span></a> 
        
        
    </td>
</tr>